*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}


.navbar{
  background-color: LightGray !important;
  margin-bottom: 20px;
}

.card-item{
  height: 254px;
}

.card-item:hover{
  box-shadow: 3px 3px 5px black;
  background-color: rgb(248, 245, 245);
  transition: 0.1s ease-in;
}

.col{
  margin-bottom: 14px;
}

.input-group-lg{
  width: 292px;
  margin: 27px auto;
}

.loading{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

h6{
  font-weight: bold;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

.input-group-text{
  background: #fc7b03;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  color: white;
}

.form-control{
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  background: black;
  color: white;
}

.slug{
  font-size: 0.9rem;
}

.fa-heart-o{
  cursor: pointer;
}